/************************************************************************/
/*variables
/************************************************************************/
$font: Arial, sans-serif;

/* validation */
$validationFontColor: #333;

$validationErrorBorder: #dd3c10;
$validationErrorBackgroundColor: #ffebe8;

$validationWarningBorder: #dd3c10;
$validationWarningBackgroundColor: #fff9d7;

$validationWarningInfoBorder: #0d3692;
$validationWarningInfoBackgroundColor: #dfe4ee;

$validationSuccessBorder: #E2C822;
$validationWarningBackgroundColor: #FFF9D7;

$pageWidth:1000px;

$firstTDWidth: .45;
$secondTDWidth: 1-$firstTDWidth;

/************************************************************************/
/*Validation
/************************************************************************/
%list-shared{
	list-style:none;
	margin-top: 2px;	
}

.validationErrorShow {
    font-family: $font;
    border: solid 1px $validationErrorBorder;
    background-color: $validationErrorBackgroundColor;
    width: $pageWidth;
    padding-left: 10px;

    legend {
        color: $validationFontColor;
        font-family: $font;
    }

    li {
        @extend %list-shared;
        color: $validationFontColor;
    }

    ul {
        @extend %list-shared;
        margin-top: 10px;
        margin-left: 20px;
    }
}

.validationErrorHide{
    display:none;    
}


/************************************************************************/
/*Container
/************************************************************************/

$fieldSetWidth:75%;

.viewContainer {
    width: $pageWidth;
    /*border: 1px solid black;*/
    border-collapse: collapse;

    td {
        vertical-align: top;
        padding: 10px;
        border: none;
    }

    .topLeftCell {
        width: 80%;

        fieldset {
            padding: 10px;
            border-color: silver;
            border-style: solid;
        }
    }

    legend {
        font-family: $font;
        font-weight: bold;
    }

    .fieldsetAddEdit {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-color: silver;
        border-style: solid;
        width: $fieldSetWidth;
        margin-top: 20px
    }

    .fieldsetDashboard {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-color: silver;
        border-style: solid;
        width: $fieldSetWidth;
        margin-top: 20px
    }
}

/************************************************************************/
/*Master Table
/************************************************************************/
/*.tableMaster {
	width:100%;
	border: 1px solid black;
	border-collapse: collapse;
	margin:4px;
	font-family: $font;

    td, th {
	    vertical-align: top;
	    padding: 10px;
	    border: 1px solid silver;
	    text-align:left;
    }
}*/

/*hide the first column as it's the ID column*/
/*.tableMaster > tbody > tr >:nth-child(1) { 
    display: none;
}*/



/************************************************************************/
/*Maintain View
/************************************************************************/

@mixin FirstTD($alignment) {
    text-align: $alignment;
    width: $firstTDWidth * 100%;
}

$MaintainViewFieldWidth: 100%;

/*you need at least 1 property to ensure a class is created*/
/*by creating a class, you can have the class show up in intellisense*/ 
@mixin DummyStyle {
    background: white;
}


.tableDashboard {
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin: 4px;
    font-family: $font;

    td:first-child {
        width: 50%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 5px;
    }

    td:nth-child(2) {
        width: 50%;
        padding: 0px;
    }
}



.tableMaintain {
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin: 4px;
    font-family: $font;

    td:first-child {
        @include FirstTD(right);
    }

    td:first-child.SubSection {
        @include FirstTD(left);
        text-decoration: underline;
    }

    td:nth-child(2) {
        width: $secondTDWidth * 100%;
    }

    .isSmallField {
        width: $MaintainViewFieldWidth;
    }

    .isLargeField {
        width: $MaintainViewFieldWidth;
        height: 80px;
    }
    /*classes for formating and validationby. creating a class, you can have the class show up in intellisense*/
    .isEdittable {
        @include DummyStyle;
    }

    .isRequired {
        @include DummyStyle;
    }

    .isDateTimePicker {
        @include DummyStyle;
    }

    .isDatePicker {
        @include DummyStyle;
    }

    .isPhoneNumber {
        @include DummyStyle;
    }

    .isAHC {
        @include DummyStyle;
    }
}


/************************************************************************/
/*Data Entry
/************************************************************************/


/************************************************************************/
/*Buttons
/*
/*    https://www.w3schools.com/css/css3_buttons.asp
/*
/************************************************************************/
%button-shared {
	min-width: 150px
}

.verticalButton {
    @extend %button-shared;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.verticalButtonDisabled {
    @extend .verticalButton;
    opacity: 0.6;
    cursor: not-allowed;
}

.horizontalButton {
    @extend %button-shared;
}

.horizontalButtonDisabled {
    @extend .horizontalButton;
    opacity: 0.6;
    cursor: not-allowed;
}

.tblRow_Click {
    /* make effectively invisible*/
     padding-left: 0; padding-right: 0;
     border-left-width: 0; border-right-width: 0;
     white-space: nowrap;
     overflow: hidden;
}


